@tailwind base;
@tailwind components;
@tailwind utilities;

/* font definitions */

:root {
  --sl-font: 'Inter Variable', sans-serif;
	--sl-font-mono: 'Iosevka Tidal', monospace;
  font-feature-settings:
    "liga" 1,
    "calt", /* Contextual Alternates */
    "dlig", /* Discretionary Ligatures */
    "ss07", /* Square punctuation */
    "ss08"  /* Square quotes */
}

/* prevent `<|` from becoming a triangle in `|<|` etc. */
h3 code {
  font-feature-settings: "trig" off;
}

/* bento "component" */

.bento {
  @apply grid grid-cols-1 md:grid-cols-5 gap-6 content-center;
}

.bento > * {
  @apply p-6 border-2 dark:border-gray-800 border-gray-300 shadow-xl rounded mt-0
}

/* remove author picture border */
.author img {
	border: none;
}

/* section heading links 
   (reused from strudel.cc docs) */

.icon.icon-link {
  @apply opacity-0 transition-opacity;
}

.sl-markdown-content h1:hover .icon.icon-link,
.sl-markdown-content h2:hover .icon.icon-link,
.sl-markdown-content h3:hover .icon.icon-link,
.sl-markdown-content h4:hover .icon.icon-link,
.sl-markdown-content h5:hover .icon.icon-link,
.sl-markdown-content h6:hover .icon.icon-link {
  @apply opacity-75;
}

.sl-markdown-content h1 > a,
.sl-markdown-content h2 > a,
.sl-markdown-content h3 > a,
.sl-markdown-content h4 > a,
.sl-markdown-content h5 > a,
.sl-markdown-content h6 > a {
  text-decoration: none !important;
}

.icon.icon-link::after {
  @apply ml-2;
  content: '#';
}
